<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Done Page</title>

</head>
<style>
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background: url('https://png.pngtree.com/background/20210709/original/pngtree-old-book-education-library-background-picture-image_732854.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color:rgba(255, 255, 255, 0.7);
    color: black;
    text-align: center;
    padding: 10px;
    width: 500px;
    margin-top: 150px;
    margin-right: 500px;
    margin-left: 60px;
    
    font-style: normal;
}

.main {
    width: 500px;
    margin-right: 500px;
    margin-left: 60px;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(23, 75, 160, 0.1);
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer {
    background-color:rgba(255, 255, 255, 0.7);
    color: black;
    text-align: center;
    padding: 10px;
    width: 500px;
    margin-bottom: 50px;
    margin-right: 500px;
    margin-left: 60px;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h1 {
    font-size: 30px;
}

.p {
    font-size: 18px;
    line-height: 1.4;
}

/* Adjust styles as needed */
</style>
<body class="body">
    <header class="header">
        <h1>Done with Your Action</h1>
    </header>

    <main class="main">
        <p>The details have been taken to the server.<br>You can now go to the home page for entering new details..</p>
        
    </main>

    <footer class="footer">
        <p>&copy; 2023 Vishnu Library</p>
    </footer>
</body>
</html>
