<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sign Up</title>
 
</head>
<style>
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background: url('https://img.freepik.com/premium-photo/book-stack-library-room-blurred-bookshelf-background_42691-514.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between; 
  }

  
.signup-container {
    width: 40%;
    background-color: #EDEADE;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    text-align: center;
  }
.hanifa {
    width: 60%;
    font-size: 50px;
    color: #FAF9F6	;
    padding: 20px; 
    text-align: center;
  }
h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

form {
  text-align: left;
  
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #444;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
  background-color: #FAF9F6	;
}

#showPassword {
  margin-top: 2px;
  margin-bottom:10px;
}

small {
  color: #6B8E23;
  font-size: 12px;
}

.centered-button {
  display: block;
  margin: 0 auto;
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.centered-button:hover {
  background-color: #0056b3;
}

input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 10px;
}

p {
  margin-top: 15px;
  color: #555;
}

a {
  text-decoration: none}
h4 {
  padding-top: 50px;
}


</style>
<body>
<div class="hanifa"><h4>WELCOME</h4><br><h3>TO</h3><br><h3>VISHNU LIBRARY</h3></div>
<div class="signup-container">
  <h1>Create an account</h1>
  <h2>Let's get started</h2>
  <form action="/signupsubmit" method="POST">
   
      <label for="fullname">First Name</label>
      <input type="text" id="fullname" name="fullname" placeholder="fullname" required><br>
   
    
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname" placeholder="lastname" required><br>
      
    
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="email" required><br>
    
    
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="password" required><br>
    
    <input type="checkbox" id="showPassword"><small>Show Password</small><br>
   
        <label for="library-name">Library Name</label>
        <input type = "text" id = "libraryname" name = "libraryname" placeholder="name" required><br>
    
    
      <label for="registerno">Register No</label>
      <input type = "text" id = "registerno" name = "registerno" placeholder="registerno" required><br>
  
  
    <label for="adminid">Admin Id</label>
    <input type = "text" id = "adminid" name = "adminid" placeholder="adminid" required><br>

  
    <label for="library-branch">Library Branch</label>
    <input type = "text" id = "librarybranch" name = "librarybranch" placeholder="branch" required><br>
  
  
    <label for="identity">Identity</label>
    <input type = "text" id = "identity" name = "identity" placeholder="identity" required><br>
  
  
  <input type="checkbox" id="accept" required>
    <small><i>I accept the Terms and Conditions and Privacy Policy</i></small><br>
    <button type="submit" class="centered-button">Submit</button>
        
    <p>Already have an account? <a href="/userlogin">Userlogin</a><a>or</a><a href="/adminlogin">Adminlogin</a> here.</p>
        
  </form>
  <script>
    const passwordInput = document.getElementById('password');
            const showPasswordCheckbox = document.getElementById('showPassword');
        
            showPasswordCheckbox.addEventListener('change', function () {
                if (showPasswordCheckbox.checked) {
                    passwordInput.type = 'text';
                } else {
                    passwordInput.type = 'password';
                }
            });
  </script>
</div>
</body>
</html>